@model IEnumerable<Capstone.Models.DbModels.Recensioni>

@{
    ViewBag.Title = "Index";
}

<h1 class="NomeDettaglio" >Recensioni</h1>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@


<div class="tableContainer">
    <table id="cardEvent" class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Evento.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utenti.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>

                    @item.Evento.Nome
                </td>
                <td>

                    @item.Utenti.Nome
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>

                    @if (User.IsInRole("Admin"))
                    {
                        <div class="d-flex justify-content-around my-2">

                            <a href="@Url.Action("Delete", new { id = item.Id })"><i class="bi bi-trash3"></i></a>

                        </div>
                    }


                </td>
            </tr>
        }

    </table>
    </div>
