@model Capstone.Models.DbModels.Evento

@{
    ViewBag.Title = "DettaglioEvento";
}



<h1 class="m-3">
    <i class="" aria-hidden="true"></i>
    @Model.Nome
</h1>

<div class="p-3 px-5 table-container">
    <div class="row align-items-center rounded" style="background-color: rgb(255, 255, 255, 0.92); ">
        <div class="col-12 col-md-4">
            <img src="~/Content/Imgs/@Model.Foto" class="w-100" />
        </div>

        <div class="col-12 col-md-8 ml-5 fs-5">

            <div class="row row-cols-1 row-cols-2 mx-4 mb-4">

                <div>
                    <div class="fw-bold">
                        Categoria
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.Categoria.Nome)
                    </div>
                </div>

                <div>
                    <div class="fw-bold">
                        Nome
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.Nome)
                    </div>
                </div>


                <div>
                    <div class="fw-bold">
                        Data
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.Data)
                    </div>
                </div>

                <div>
                    <div class="fw-bold">
                        Location
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.Location)
                    </div>
                </div>

                <div>
                    <div class="fw-bold">
                        Descrizione
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.Description)
                    </div>
                </div>

                <div>
                    <div class="fw-bold">
                        @Html.DisplayNameFor(model => model.Costo)
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.Costo)
                    </div>
                </div>

                <div>
                    <div class="fw-bold">
                        @Html.DisplayNameFor(model => model.MaxParticipanti)
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.MaxParticipanti)
                    </div>
                </div>

                <div>
                    <div class="fw-bold">
                        @Html.DisplayNameFor(model => model.Disponibile)
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.Disponibile)
                    </div>
                </div>





                @*<p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                    @Html.ActionLink("Back to List", "Index")
                </p>*@



            </div>

        </div>
    </div>
</div>


<div class="CommRecen" >
    <div class="row">

        @*<div>
                @{ Html.RenderAction("Prenotazion", new { id = Model.Id });}
            </div>*@
        <div class="col-12 col-sm-12 col-md-6">
            @{ Html.RenderAction("Comment", new { id = Model.Id });}
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            @{ Html.RenderAction("Recension", new { id = Model.Id });}
        </div>
    </div>
</div>







@section scripts {

    <script type="text/javascript">

        /* $(document).ready(function () {*/

        $("#PrenotazioneBt").click(function () {
            $(".Animation1").slideToggle();
        })

        $("#CommentiBt").click(function () {
            $(".Animation2").slideToggle();
        })


        $("#RecensioneBt").click(function () {
            $(".Animation3").slideToggle();
        })


        /* })*/

    </script>
}
