@model Capstone.Models.DbModels.Evento

@{
    ViewBag.Title = "DettaglioEvento";
}


<div class="ContainerNomeDettaglio">
    <h1 class="NomeDettaglio">
        @*<i class="NomeDettaglio" aria-hidden="true"></i>*@
        @Model.Nome
    </h1>
</div>



<div class="p-3 px-5 table-container">
    <div id="cardEvent" class="row align-items-center rounded colorDettagli">
        <div class="col-12 col-md-4">
            <img src="~/Content/Imgs/@Model.Foto" class="w-100 imgHeight"/>
        </div>

        <div class="col-12 col-md-8 ml-5 fs-5">

            <div class="ContainerTextDettagli">

                <div>

                    <div>
                        <div class="fw-bold">
                            <h4>    Categoria </h4>
</div>
                        <div class="TextDettagli" >
                            @Html.DisplayFor(model => model.Categoria.Nome)
                        </div>
                    </div>

                    <div>
                        <div class="fw-bold">
                            <h4>   Nome </h4>
                        </div>
                        <div class="TextDettagli">
                            <p id="Nome">@Model.Nome</p>
                        </div>
                    </div>


                    <div>
                        <div class="fw-bold">
                            <h4>   Data </h4>
</div>
                        <div class="TextDettagli" >
                            @Html.DisplayFor(model => model.Data)
                        </div>
                    </div>

                    <div>
                        <div class="fw-bold">
                            <h4> Location </h4>
</div>
                        <div class="TextDettagli" >
                            @Html.DisplayFor(model => model.Location)
                        </div>
                    </div>

                </div>
                <div>


                    <div>
                        <div class="fw-bold">
                            <h4> Descrizione</h4>
                        </div>
                        <div class="TextDettagli" >
                            @Html.DisplayFor(model => model.Description)
                        </div>
                    </div>

                    <div>
                        <div class="fw-bold">
                            <h4> @Html.DisplayNameFor(model => model.Costo)</h4>
                        </div>
                        <div class="TextDettagli">
                            <p id="Costo">@Model.Costo</p>

                        </div>
                    </div>

                    <div>
                        <div class="fw-bold">
                            <h4> @Html.DisplayNameFor(model => model.MaxParticipanti)</h4>
</div>
                        <div class="TextDettagli" >
                            @Html.DisplayFor(model => model.MaxParticipanti)
                        </div>
                    </div>

                    <div>
                        <div class="fw-bold">
                            <h4>  @Html.DisplayNameFor(model => model.Disponibile)</h4>
</div>
                        <div class="TextDettagli" >
                            @Html.DisplayFor(model => model.Disponibile)
                        </div>
                    </div>

                </div>

                @*@Html.ActionLink("Elimina", "EliminaEvento", new { area = "", id = Model.Id }, new { @class = "btn btn-secondary m-auto" })*@


                @*<p>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                        @Html.ActionLink("Back to List", "Index")
                    </p>*@
            </div>

            <div id="aggCarrello">
                <button class="BtnDettaglio btn btn-outline-primary">Prenota</button>
            </div>



        </div>
    </div>
</div>


<div class="CommRecen">
    <div class="row">

        @*<div>
                @{ Html.RenderAction("Prenotazion", new { id = Model.Id });}
            </div>*@
        <div class="col-12 col-sm-12 col-md-6">
            @{ Html.RenderAction("Comment", new { id = Model.Id });}
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            @{ Html.RenderAction("Recension", new { id = Model.Id });}
        </div>
    </div>
</div>


    @section scripts {

        <script type="text/javascript">

           
            $("#PrenotazioneBt").click(function () {
                $(".Animation1").slideToggle();
            })

            $("#CommentiBt").click(function () {
                $(".Animation2").slideToggle();
            })


            $("#RecensioneBt").click(function () {
                $(".Animation3").slideToggle();
            })




            $(document).ready(function () {
                $("#aggCarrello").click(function () {

                    let nome = $("#Nome").text();
                    let costo = $("#Costo").text();

                    let carrello = JSON.parse(sessionStorage.getItem("Carrello")) || []

                    let prodotto = {
                        nomeProdotto: nome,
                        costoProdotto: costo
                    }

                    carrello.push(prodotto)
                    sessionStorage.setItem("Carrello", JSON.stringify(carrello));

                    window.location.href = '../../Home/Carrello';

                    
                    console.log(JSON.parse(sessionStorage.getItem("Carrello")))
                })



            })

          

        </script>
    }
