@model IEnumerable<Capstone.Models.DbModels.Evento>

@{
    ViewBag.Title = "Index";
}

<h2 class="d-flex my-2 my-lg-0 justify-content-center cursive"  >Eventi</h2>


<div >
    <h5 id="creaEvento" >@Html.ActionLink("Crea un Evento", "CreaEvento", new { area = "", id = ViewBag.Id }, new { @class = "text-reset text-decoration-none color-white" })</h5>
</div>

 


    <div class="row row-cols-2 row-cols-md-4 justify-content-evenly">
        @foreach (var item in Model)
        {


            <div class="p-2 px-3">
                <div class="card">
                    <img src="~/Content/Imgs/@item.Foto" alt="photo" class="card-img-top w-100" style=" height: 18rem; object-fit: cover;" />
                    <div class="card-body">
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Categoria.Nome)</p>
                    </div>
                    <div class="textEvent">
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Nome)</p>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Data)</p>
                    </div>

                    @*@id = "listEvent"*@

                    @*<div id="listEvent">*@
                    @Html.ActionLink("Dettaglio", "DettaglioEvento", new { id = item.Id }, new { @class = "btn btn-secondary m-auto" })
                    @*</div>*@
                </div>
            </div>

        }
    </div>

