@model IEnumerable<Capstone.Models.DbModels.Evento>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreaEvento")
</p>
<table class="table">
    <tr>

        <th>
          
        </th>


        <th>
            Categoria
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Costo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxParticipanti)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Disponibile)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            <img src="~/Content/Imgs/@item.Foto" alt="photo" class="foto-event" />
        </td>


        <td>
            @Html.DisplayFor(modelItem => item.Categoria.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Costo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxParticipanti)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Disponibile)
        </td>
        <td>
            @Html.ActionLink("Edit", "ModificaEvento", new { id = item.Id }) |
            @Html.ActionLink("Details", "DettaglioEvento", new { id = item.Id }) |
            @Html.ActionLink("Delete", "EliminaEvento", new { id = item.Id })
        </td>
    </tr>
}

</table>
