@model IEnumerable<Capstone.Models.DbModels.Commenti>

@{
    ViewBag.Title = "Index";
}

<h1 class="NomeDettaglio" >Commenti</h1>

<div class="tableContainer">
    <table id="cardEvent" class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Evento.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utenti.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Evento.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Utenti.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>



                <td id="BtnEliDetaEdit" >
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |*@           
                    <a href="@Url.Action("Delete", new { id = item.Id })"><i class="bi bi-trash3"></i></a>
                </td>


            </tr>
        }

    </table>
</div>