@model Capstone.Models.DbModels.Utenti

@{
    ViewBag.Title = "Details";
}

<h1 class="NomeDettaglio">Utenti</h1>

<div class="tableContainer">

    <dl id="cardEvent" class="detailsUtente ">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ruolo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ruolo)
        </dd>

        <div>
            <a href="@Url.Action("Edit", new { id = Model.Id })"><i class="bi bi-pencil-square"></i></a>
        </div>
    </dl>


</div>


<div>
    <div class="TornaIndietro ">

        @Html.ActionLink("Torna alla Lista", "Index", new { id = Model.Id }, new { @class = "btn btn-secondary m-auto torna" })

    </div>
</div>
